input.form-control(type="password", name=fieldName,
  value=value, disabled=options.readOnly,
  id="_input_"+fieldName)
div.input-group-append
  button.input-group-text.btn(type="button", 
    onclick="togglePassword('#_input_"+fieldName+"')",
    disabled=options.readOnly,
    value=value)
    span.oi.oi-eye
